

<footer class="border-top mt-5 pt-5" style="background-color: #f1f6f9;">
    <div class="container">
        <div class="row g-5">
            <div class="col-12 col-md-4">
                <h5 class="pe-3">لینک های اصلی</h5>
                <nav class="nav flex-column">
                    <a class="nav-link text-muted" asp-area="" asp-controller="Home" asp-action="Index">صفحه اصلی</a>
                    <a class="nav-link text-muted" asp-area="" asp-controller="Home" asp-action="ShowProducts">محصولات</a>
                    <a class="nav-link text-muted" asp-area="" asp-controller="Home" asp-action="Index">درباره ما</a>
                    <a class="nav-link text-muted" asp-area="" asp-controller="Home" asp-action="Index">تماس با ما</a>
                    <a class="nav-link text-muted" asp-area="" asp-controller="Home" asp-action="Index"></a>
                </nav>
            </div>

            <div class="col-12 col-md-4">
                <h5 class="mb-3">ایمیل</h5>
                <h6 class="text-muted">alisamiei404@gmail.com</h6>
            </div>

            <div class="col-12 col-md-4">
                <h5 class="mb-3">شماره تماس</h5>
                <h6 class="text-muted">09029913867</h6>
            </div>
        </div>
        
    </div>

    <p class="text-center border-top border-2 pt-3 mt-5">هر چقدر دوست داری از مطالب سایت کپی کن!</p>
</footer>