@using System.Security.Claims;
@{
    var name = User.Identity!.Name;
}
<header class="shadow-sm bd-navbar sticky-top">

    <nav class="navbar navbar-expand-lg navbar-light bg-white mb-4 py-2">
        <div class="container-fluid">
            <a class="navbar-brand fs-4" asp-area="" asp-controller="Home" asp-action="Index">بخش ادمین</a>
            <button class="navbar-toggler bg-white shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header border-bottom">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">بخش ادمین</h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">

                    <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="admin" asp-controller="Brand" asp-action="GetAllBrand"> برند</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="admin" asp-controller="ManageShop" asp-action="GetAllShop"> فروشگاه</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="admin" asp-controller="Product" asp-action="GetAllProduct"> محصولات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="admin" asp-controller="Comment" asp-action="GetAllComment"> نظرات</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="admin" asp-controller="User" asp-action="GetAllUser"> کاربران</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">بخش سایت</a>
                        </li>                        
                    </ul>

                    <ul class="navbar-nav d-flex align-items-center pe-1">
                        <li class="nav-item">
                            <a class="nav-link">@name</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">خروج</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
